{% extends 'base_short_url_app.html.twig' %}

{% block page_head_button %}
    <p class="container">
<div class="btn-group pull-right" id="btn_top">

    <a type="button" class="btn btn-default btn-xs" href="{{ path('short_url_about_html') }}" >
        <i class="fa fa-info"></i>&nbsp;About Us</a>

    <a type="button" class="btn btn-default btn-xs" href="{{ path('short_url_web_html') }}">
        <i class="fa fa-cogs"></i>&nbsp;For Web Masters</a>

    <a type="button" class="btn btn-default btn-xs" href="{{ path('short_url_index_html') }}">
        <i class="fa fa-hdd-o"></i>&nbsp;Main Page</a>

</div>
{% endblock %}

{% block page_header %}
    <div id="header_show_log">
        <p>Usage statistics <span id="for_line"> Short URL</span> service </p>
    </div>
{% endblock %}

{% block page_content %}
    <table class='table table-bordered table-condensed' id='stat_table'>
        <thead>
        <tr>
            <th>Real URL</th>
            <th>Short URL</th>
            <th>Creation Date</th>
            <th>Last Use Date</th>
            <th>REFER count</th>
        </tr>
        </thead>

        <tbody style='font-weight: 600;'>

                    {% for urls_table in urls_tables %}

        <tr>
            <td> <a href="{{urls_table.longUrl}}" target='_blank'>{{urls_table.longUrl}}</a></td>
            <td><a href="{{urls_table.shortUrl}}">{{ host_name}}{{ host_postfix }}{{urls_table.shortUrl}}</a></td>
            <td>{{urls_table.dateCreate|date('Y-m-d')}}</td>
            <td>{{urls_table.dateLink|date('Y-m-d')}}</td>
            <td>{{urls_table.shortCount}}</td>
        </tr>
                    {% endfor %}

        </tbody>
    </table>
{% endblock %}


{% block page_footer %}
    <div class="pull-left" id="" style="margin-bottom: 20%">

        <a type="button" class="btn btn-default btn-sm" href="">
            <i class="fa fa-refresh"></i>&nbsp;Update</a>
    </div>
{% endblock %}